.boundary {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    width: 280px;
    height: auto;
    background-color: lightgreen;
    border-radius: 10px;
}

.view_window{
    margin: 10px;
}

.image {
    object-fit: cover;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 8px 6px 0 6px;
}
.description h3 {
    margin: 0;
}
.description p {
    margin: 0;
}
.description h4 {
    margin: 0 0 4px 0;
    text-align: right;
}